/****************************************************************************************/
/*								   	Variables Globales	 								*/
/****************************************************************************************/
// <--------  Paleta de Colores -------->
$primario: 				#C12C42;
$contraste_primario: 	#d1354c;
$secundario: 			#C9B76A;
$contraste_secundario: 	#ecd778;
$texto_oscuro: 			#111111;
$texto_opaco:			#464a4c;
$texto_claro: 			#f2f2f2;
$navbar_principal: 		rgba(0, 0, 0, 0.85);
$filtro: 				rgba(0, 0, 0, 0.70);
// <------------ Colores Sistema --------------->
$background_sistema: 	#fff;
$background_panel: 		#f6f6f6;
$separador-panel: 		#d2d2d2;
$titulo-panel: 			#eee;
$navbar_sistema: 		#0e0f12;
$sidebar: 				rgba(0, 0, 0, 0.85);
$contraste: 			#343839;
// <---------------- Fuentes ------------------->
$fuente_titulo_empresa: Andada, serif;
// <----------- Imagenes de fondo -------------->
$imagen_mobil: "../images/fondo-inicio-mobile.jpg";
$imagen_escritorio: "../images/fondo-inicio-desktop.jpg";
$imagen_sidebar: "../images/fondo-sidebar.jpg";
// <------------------- Cards ------------------>
$ancho-card: 300px;
// Imagen
$alto: 165px;
// Colores
$background-card: #eee;
$disponible: #5cb85c;
$reservada: #2aabd2;
$ocupada: #c9302c;
$mantenimiento: #fd9f1d;


/****************************************************************************************/

/****************************************************************************************/
/*								Estilos Globales	 									*/
/****************************************************************************************/
html{
	font-size: 14px;
}
body{
	color: $texto_oscuro;
}
@font-face { 
	font-family: 'FontAwesome'; src: local('FontAwesome'); 
}
.marca {
	display: flex;
	align-items: center;
	.logo {
		width: 3.2rem;
	}
	.texto {
		margin-left: .5rem;
		text-decoration: none;
		text-transform: capitalize;
		color: $texto_claro;
		font-size: 1.8rem;
		font-family: $fuente_titulo_empresa;
	}
}
.panel {
	margin-bottom: 1rem;
	background-color: $background_panel;
	border-radius: 4px;
	border: 1px solid rgba(204, 197, 185, 0.5);
	box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
	display: flex;
	flex-direction: column;
	.titulo {
		padding: .2rem 1rem;
		border-radius: 6px 6px 0 0;
		border-bottom: 1px solid $separador-panel;
		background-color: $titulo-panel;
	}
	.cuerpo	{
		padding: 0.5rem 1rem;
		display: flex;
	}
}
.form-control:focus {
	border-color: $secundario;
}
a {
	color: $texto_claro;
}
.fa-trash-o {
	padding: 0 1.5px;
}
.ta-readonly {
	background-color: transparent !important;
	padding: 0;
}
// <----------- Modal -------------->
.modal-dialog {
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	@media(max-width: 768px) {
		min-height: calc(100vh - 20px);
	}
	.modal-content {
		background-color: $background_panel;
		.modal-header {
			border-bottom: 1px solid $separador-panel;
			padding: .5rem;
			color: $primario;
			span {
				margin: 0 .4rem;
			}
		}
		.modal-body {
		}
		.modal-footer {
			border-top: 1px solid $separador-panel;
			padding: .5rem;
		}
	}
}
// 992px >>>
@media(min-width: 992px) {
	.modal-slg {
		max-width: 85%;
	}
}
// 768px <<< 
@media(max-width: 991px) {
	.modal-slg {
		max-width: 90%;
	}
}
// 575px <<< 
@media(max-width: 575px) {
	.modal-slg {
		max-width: 95%;
	}
}
// <----------------- Data Tables ------------------->
#tab-col-botones {
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		margin: 0 .1rem;
	}
}
@media(max-width: 575px) {
	#tab-col-botones {
		display: flex;
		flex-direction: column;
		justify-content: center;
		button {
			margin: .1rem 0;
		}
	}
}
.tab-col-descripccion {
	height: 5rem;
	overflow: auto;
}
// <------------ Botones  y enclaces --------------->
.link-primario {
	color: $primario;
}
.link-primario:hover {
	color: $contraste_primario;
	cursor: pointer;
}
.link-primario:focus {
	color: $contraste_primario;
	text-decoration: none;
}
.boton-principal {
	padding: .5rem 1rem;
	color: $texto_claro;
	background-color: $primario;
	border-color: $contraste_primario;
}
.boton-principal:hover {
	color: $texto_claro;
	background-color: $contraste_primario;
	border: 1px solid $secundario;
	cursor: pointer;
}
.boton-principal:focus {
	color: $texto_claro;
	box-shadow: none;
}
.boton-ol-principal {
	color: $texto_claro;
	background-color: transparent;
	border-color: $secundario;
}
.boton-ol-principal:hover {
	color: $texto_claro;
	border-color: $contraste_secundario;
	background-color: $contraste_primario;
	cursor: pointer;
}
.boton-ol-principal:focus {
	color: $contraste_primario;
	box-shadow: none;
}
/****************************************************************************************/

/****************************************************************************************/
/*						Estilos Pagina Principal Inicio	 								*/
/****************************************************************************************/
.background {
	background: url($imagen_mobil) no-repeat center top;
	background-size: cover;
	background-position: center;
	.container-inicio, .container-login {
		padding-top: 2rem;
		background: $filtro;
		height: 100vh;
		display: flex;
		flex-direction: column;
		.navbar {
			background-color: $navbar_principal;
			color: $texto_claro;
			padding: 0.6rem 0;
			.container {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				.boton-ol-principal {
					padding: 8px 1.2rem;
					margin-left: auto;
					margin-right: 1.8rem;
				}
				.boton-menu {
					border: 0;
					border-radius: 4px;
					font-size: 1.8rem;
					margin: 0;
					padding: 0 0.7rem;
					background-color: $primario;
					color: $texto_claro;
				}
				.boton-menu:hover, .boton-menu:focus {
					outline: none;
				}
				.menu {
					flex: 1 1 100%;
					ul {
						padding: 0;
						list-style: none;
						margin: 1rem 0 0 0;
						text-transform: uppercase;
						li {
							a {
								color: $texto_claro;
								text-decoration: none;
								display: block;
								padding: .6rem 0;
								border-top: 1px solid $secundario;
							}
							a:hover {
								color: $primario;
							}
						}
						li.active{
							a {
								color: $primario;
							}
						}
					}
				}
			}
		} //Fin .navbar
		.principal {
			margin: auto 0;
			color: $texto_claro;
			.container {
				.denominacion {
					margin-top: 3.6rem;
					margin-bottom: 1.4rem;
					font-size: 2.6rem;
				}
				.titulo {
					font-family: $fuente_titulo_empresa;
					font-size: 6rem;
					color: $secundario;
					margin: 1rem 0;
				}
				.descripcion {
					font-size: 1.4rem;
					margin-bottom: 3.4rem;
				}
				.boton-lg {
					font-size: 1.3rem;
					padding: 1rem 1.8rem;
				}
			}
		}//Fin .principal
		.flecha-bajar { 
			a {	
				display: inline-block;
				font-size: 4rem;
				color:  $secundario;
				animation: animacion-flecha-bajar 2s ease-in-out infinite;
			}
		}
	}//Fin .container-inicio
}
#servicios{
	background-color: $primario;
	color: $texto_claro;
	display: flex;
	.container {
		.titulo {
			margin: 2rem 0;
		}
	}
}
#contacto{
	display: flex;
	.container {
		.titulo {
			margin: 2rem 0;
		}
	}
}
.pie-pagina{
	background-color: $navbar_principal;
	color: $texto_claro;
	padding: 1rem 0;
	.container {
		p {
			margin: 0;
		}
	}
}
// <------------- Medias Query ---------------->
// 576px >>>
@media (min-width: 576px) {
	.background {
		background: url($imagen_escritorio) no-repeat center top;
		background-size: cover;
		background-position: center;
		.container-inicio, .container-login {
			.navbar {
				.container {
					.menu {
						height: auto !important;
						display: block;
						flex: 0 1 30%;
						ul {
							display: flex;
							margin: 0;
							li {
								flex: 1 1 100%;
								a {
									margin: 0 .4rem;
									padding: .4rem 0;
									text-transform: capitalize;
									border-top: none;
								}
								a:hover {
									color: $primario;
									border-bottom: 1px solid $secundario;
								}
							}
							li.active{
								a {
									color: $primario;
									border-bottom: 1px solid $secundario;
								}
							}
						}
					}
				}
			}
		}
	}		
}
// 768px <<<
@media (max-width: 768px) {
	.container-inicio {
		.navbar {
			padding: 0.4rem 0;
			.container {
				width: 600px;
				max-width: 100%;
			}
		}
		.principal .container {
			.denominacion {
				margin-top: 1rem;
				font-size: 2.1rem;
				margin-bottom: 0;
			}
			.titulo {
				margin: .8rem 0;
				font-size: 4.6rem;
			}
			.descripcion {
				font-size: 1.1rem;
				margin-bottom: 2.2rem;
			}
			.boton-ol-principal {
				font-size: 1.2rem;
				padding: .8rem .8rem;
			}
		}
	}
}
// <-------- Animaciones Keyframes ------------>
@keyframes animacion-flecha-bajar {
	from {
		transform: translateY(0);
	}
	50% {
		transform: translateY(6px);
	}
	to {
		transform: translateY(0);
	}
}
/****************************************************************************************/

/****************************************************************************************/
/*								Estilos Login y Registro								*/
/****************************************************************************************/
.container-login {
	.principal {
		.container {
			.panel {
				padding: 0;
				background: transparent;
				border-radius: 6px;
				border: 2px solid $secundario;
				color: $texto_oscuro;
				.cuerpo {
					padding: 0;
					.logo {
						background-color: $filtro;
						border-top-left-radius: 4px;
						border-bottom-left-radius: 4px;
						padding: 1rem 2rem;
						display: flex;
						justify-content: center;
						a {
							align-self: center;
							width: 200px;
						}
					}
					.contenido {
						flex: 1 1 auto;
						background-color: $background_panel;
						border-left: 2px solid $secundario;
						border-top-right-radius: 4px;
						border-bottom-right-radius: 4px;
						.opciones {
							display: flex;
							font-size: 1.2rem;
							a {
								flex: 1 1 auto;
								border: none;
								text-decoration: none;
								text-align: center;
								text-transform: uppercase;
								padding: 1rem 0;
								color: $texto_claro;
								background-color: $primario;
								transition: all .3s ease;
							}
							a:hover {
								background-color: $contraste_primario;
								color: $texto_claro;
							}
							.register-link {
								border-top-right-radius: 4px;
							}
							.active {
								i {
									color: $primario;
								}
								color: $texto_opaco;
								background-color: transparent;
							}
						}
						.login, .registro {
							padding: 0 1rem;
							padding-top: 2rem;
							.col-form-label {
								padding-right: 0;
							}
							button {
								padding: .8rem 0;
								margin-top: .5rem;
							}
						}
						.registro {
							padding-top: 1.5rem;
							button {
								margin-top: 0;
							}
						}
					}
				}	
			}
		}
	}
}
// 768px <<<
@media (max-width: 992px) {
	.container-login {
		.principal .container .panel .cuerpo{
			.logo {
				background-color: $filtro;
				padding: 1rem 1.4rem;
				display: flex;
				justify-content: center;
				a {
					width: 160px;
				}
			}
			.contenido {
				.opciones {
					a{
						padding: 1rem 0;
					}
				}
				.login, .registro {
					padding: 0 2rem;
					padding-top: 2rem;
				}
			}
		}
	}
}
/****************************************************************************************/

/****************************************************************************************/
/*								Estilos pagina Principal								*/
/****************************************************************************************/
.container-sistema{
	background-color: $background_sistema;
	display: flex;
	.background-sidebar{
		background: url($imagen_sidebar) no-repeat center top;
		background-size: cover;
		background-position: center;
		height: 100vh;
		width: 260px;
		.sidebar {
			background: $sidebar;
			height: 100vh;
			overflow: auto;
			width: 260px;
			.marca {
				justify-content: center;
				padding: .6rem 0;
				margin: 0 2rem;
				border-bottom: 1px solid $secundario;
				.logo {
					width: 2.8rem;
				}
				.texto {
					font-size: 1.6rem;
				}
			}
			.usuario {
				padding: 1.4rem 1.2rem;
				border-bottom: 1px solid $secundario;
				display: flex;
				justify-content: end;
				.foto {
					align-self: center;
					width: 80px;
					margin-right: 1.4rem;
					background-color: $texto_claro;
					border: 3px solid $secundario;
				}
				.texto {
					align-self: center;
					flex: 1 1 auto;
					display: flex;
					flex-direction: column;
					.nombre {
						font-size: 1.2rem;
						text-decoration: none;
						color: $texto_claro;
						margin-bottom: .2rem;
					}
					.rol {
						font-size: .9rem;
						color: $secundario;
					}
				}	
			}
			.menu-sidebar {
				.nav {
					padding: .8rem 0;
					li {
						padding: 0;
						a {
							padding: .8rem 0 .8rem 1.4rem;
							margin: 5px 12px 0px;
							font-size: 1.1rem;
							color: $texto_claro;
							text-decoration: none;
							display: block;
							border-radius: 4px;
						}
						a:hover {
							background-color: $contraste;
							transition: all .2s ease;
						}
					}
					li.active {
						a {
							background-color: $primario;
						}
					}
				}
			}
		}
	}
    .principal {
    	flex: 1 1 auto;
    	overflow: auto;
    	height: 100vh;
    	.navbar {
    		padding: .8rem 0;
    		background-color: $navbar_sistema;
    		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    		margin-bottom: 1rem;
    		.container-fluid {
    			margin: 0 1rem;
    			display: flex;
    			flex-wrap: wrap;
    			.boton-menu {
    				align-self: center;
					border: 0;
					border-radius: 4px;
					font-size: 1.6rem;
					margin: 0;
					padding: 0 0.7rem;
					background-color: $primario;
					color: $texto_claro;
					margin-right: 1rem;
				}
				.boton-menu:hover, .boton-menu:focus {
					outline: none;
				}
    			.titulo {
    				align-self: center;
    				flex: 1 1 auto;
    				color: $texto_claro;
    				margin: 0;
					font-size: 1.4rem;
    			}
    			.menu {
    				margin: .2rem 0;
    				ul {
    					display: flex;
    					padding: 0;
    					margin: 0;
						list-style: none;
						li {
							font-size: 1.05rem;
							margin-left: 2rem;
							a {
								color: $texto_claro;
								text-decoration: none;
								i {
									font-size: 1.3rem;
									color: $primario;
								}
								.fa-user {
									margin: 0 3px;
								}
								span {
									margin-left: .3rem;
								}
							}
							a:hover {
								color: $contraste_primario;
							}
						}
						li.active{
							a {
								color: $primario;
							}
						}
    				}
    			}
    		}
    		#menu-mobil {
    			ul {
    				text-align: center;
    				text-transform: uppercase;
    				color: $texto_claro !important;
    				margin: .4rem 0; 
    				li {
    					padding: .5rem 0;
    					a {
							color: $texto_claro;
							text-decoration: none;
    					}
    				}
    				li.active {
    					background-color: $primario;
    				}
    			}
    			
    		}
		}
		.contenido {
			background-color: $background_sistema;
			padding: 0 1rem;
			.panel {
				.titulo {
					display: flex;
					color: $texto_opaco;
					h3 {
						align-self: center;
						margin: 0;
						font-size: 1.4rem;
					}
					.opciones {
						align-self: center;
						margin-left: auto;
					}
				}
				.cuerpo {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					padding: 0;
					.card {
						align-self: flex-start;
						width: $ancho-card;
						margin: .5rem;
						background-color: $background-card;
						border-color: transparent;
						border-radius: 6px;
						.card-imagen {
							.card-img-top {
								width: calc(#{$ancho-card} - 2px);
								height: $alto;
								border-radius: 3px 3px 0 0;
							}
							.btn-ver-imagen {
								background-color: $separador-panel;
								color: $texto_opaco;
								border-radius: 5px 5px 0 0;
							}
						}
						.card-block {
							padding: .6rem;
							border: 2px solid;
							border-color: $separador-panel;
							.card-head {
								display: flex;
								flex-wrap: wrap;
							 	flex-direction: column;
								margin-bottom: .6rem;
								.card-title {
									margin: 0;
									display: flex;
									justify-content: space-between;
									.numero {
										align-self: center;
										margin: 0;
										color: $secundario;
									}
									.link-primario {
										align-self: center;
										color: $primario;
										text-transform: capitalize;
										h6 {
											margin: 0;
											font-size: 1.1rem;
											i {
												margin-right: .15rem;
											}
										}
									}
									.tipo {
										align-self: center;
										margin: 0;
										color: $secundario;
									}
								}
								.edit-estado {
									display: flex;
									flex-wrap: wrap;
									margin-top: .4rem;
									.btn-guardar, .btn-cancelar {
										align-self: center;
										padding: .25rem .5rem;
										margin-right: .2rem;
										i {	
											font-size: 1.4rem;
										}
									}
									.selector {
										flex: 1 1 auto;
										align-self: center;
										width: auto;
										padding: 0 .2rem;
										height: 2.25rem;
										text-transform: capitalize;
									}
								}
							}
							.info {
								margin-bottom: .4rem;
								display: flex;
								flex-direction: column;
								.info-text {
									display: flex;
									justify-content: space-between;
									.capacidad, .ubicacion {
										align-self: center;
										text-transform: capitalize;
										span {
											margin: 0 .3rem;	
										}
									}
									.mas {
										font-size: 1.2rem;
									}
								}
							}
							.ver-reservaciones {
								margin: .4rem;
								.btn-ver-reservaciones {
									color: $texto_oscuro;
									border-color: $secundario;
									i {
										color: $primario;
										margin-right: .4rem;
									}
								}
								.btn-ver-reservaciones:hover {
									color: $texto_claro;
									i {
										color: $texto_claro;
									}
								}
							}
							.fecha-reserva {
								color: $primario;
								display: flex;
								flex-direction: column;
								margin: .2rem 0;
								border: 1px solid $separador-panel;
								border-radius: .25rem;
								padding: .2rem .4rem;
								.entrada, .salida {
									display: flex;
									justify-content: space-between;
									.fecha {
										align-self: center;
										margin: 0;
										color: $texto_oscuro;
										font-size: .95rem;
										.zona {
											margin-left: .2rem;
											color: $texto_opaco;
											font-size: .8rem;
											font-style: italic;
										}
									}
								}
							}
							.costos {
								p {
									margin: .25rem;
								}
								.reserva {
									display: flex;
									flex-wrap: wrap;
									.precio {
										flex: 1 1 auto;
										margin: .1rem;
										display: flex;
										.cobro {
											flex: 1 1 auto;	
											border: 1px solid $primario;
											text-transform: capitalize;
											border-radius: 4px 0 0 4px;
											padding: .25rem .5rem;
										}
										.valor {
											flex: 1 1 auto;	
											border: 1px  0 solid;
											border-color: $secundario;
											border-radius: 0 4px 4px 0;
											padding: .25rem .5rem;
											color: $texto_opaco;
										}	
									}										
								}
							}
						}
						.card-pie {
							text-transform: uppercase;
							a {
								padding: .6rem 1rem;
								border-radius: 0 0 4px 4px; 
							}			
						}
					}
					#modal-ver-reservaciones {
						.modal-content {
							.modal-body {
								padding: .5rem 0;
							}
						}
					}
				}
			}
		}
    }
}
// <------------- Medias Query ---------------->
// 575px <<<
@media (max-width: 575px) {
	.container-sistema .principal {
		.navbar {
			padding: .4rem 0;
			.container-fluid {
				margin: 0 .2rem;
				.menu {
					ul {
						li {
							padding: .3rem .6rem;
							border-radius: 6px;
							a {
								i{
									font-size: 1.4rem;
									color: $texto_claro;
								}
							}
						}
						li.active{
							border-color: $primario;
							border: 2px solid $primario;
							box-shadow: 0 1px 2px $contraste_primario;
						}
					}
				}
			}
		}
	}
}
// 991px <<<
@media (max-width: 991px) {
	.container-sistema {
		.background-sidebar{ 
			width: 180px;
			.sidebar {
				width: 180px;
				.usuario {
					text-align: center;
				}
				.menu-sidebar {
					.nav li {
						a {
							padding: .6rem 0 .6rem 1.2rem;
						}
					}
				}
			}
		}
		.principal { 
			.contenido .panel .cuerpo {
				.card {
					flex: 1 1 auto;
					.card-block {
						.card-head {
							.btn-guardar, .btn-cancelar {
								padding: .25rem .4rem;
							}
						}
					}
				}
			}
			.navbar {
				.container-fluid {
					.menu {
						ul {
							li {
								margin-left: .5rem;
							}
						}
					}
				}
			}
		}
	}
}
// 1367px >>>
@media (min-width: 1367px) {
	.container-sistema .background-sidebar{ 
		width: 280px;
		.sidebar {
			width: 280px;
		}
	}
}
/****************************************************************************************/